section.repository_list{
    margin: 40px;
    padding: 30px;
    width: 600px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 10px;

    h1{
        color:rgb(216, 216, 216);
        margin-bottom: 32px;
    }

    h1{

    }

    h2{
        margin-bottom: 10px;
        font-size: 18px;
        color: rgb(192, 192, 192);;
       
    }
    
        
    
    ul{
        list-style: none;

      

        li{
            padding: 20px;
            background-color: #0D1117;
            border-radius: 10px;

            & + li{
                margin-top: 20px;
            }

            a,p{
                font-size: 15px;
            }
            p{
                color:rgb(192, 192, 192);
                margin-bottom: 15px;
            }

            a{
                display: inline-block;
                width: 100%;
                text-align: right;
                text-decoration: none;
                color: lightseagreen;
            }
        }
    }
}